<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/home.css">
  <link rel="stylesheet" href="/styles/icons.css">
  <link rel="stylesheet" href="/styles/weather.css">
  <link rel="stylesheet" href="/styles/dateclock.css">
  <title>MyDearPage</title>
</head>

<body>
  <div class="container">

    <!-- HEADER - ICONS -->

    <header class="grid-item">
      <nav>
        <ul class="links">
          <li><a href="https://www.google.com"><i class="fab fa-google"></i></i></a></li>
          <li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></i></a></li>
          <li><a href="https://yahoo.com"><i class="fab fa-yahoo"></i></a></li>
          <li><a href="https://youtube.com"><i class="fab fa-youtube"></i></a></li>
          <li><a href="https://web.whatsapp.com"><i class="fab fa-whatsapp"></i></a></li>
          <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://web.telegram.org"><i class="fab fa-telegram-plane"></i></a></li>
          <li><a href="https://www.amazon.com"><i class="fab fa-amazon"></i></a></li>
          <li><a href="https://www.twitch.tv"><i class="fab fa-twitch"></i></a></li>
          <li><a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://www.wikipedia.org"><i class="fab fa-wikipedia-w"></i></a></li>
          <li><a href="https://www.google.com/intl/pt/gmail/about/#"><i class="gmail"></i></a></li>
          <li><a href="https://outlook.live.com/owa/"><i class="outlook"></i></a></li>
          <li><a href="https://reddit.com"><i class="fab fa-reddit-alien"></i></a></li>
          <li><a href="https://tiktok.com"><i class="fab fa-tiktok"></i></a></li>
          <li><a href="https://github.com"><i class="fab fa-github"></i></a></li>
          <li><a href="https://pinterest.com"><i class="fab fa-pinterest-p"></i></a></li>
          <li><a href="https://aliexpress.com"><i class="aliexpress"></i></a></li>
          <li><a href="https://spotify.com"><i class="fab fa-spotify"></i></a></li>
          <li><a href="https://stackoverflow.com"><i class="fab fa-stack-overflow"></i></a></li>
          <li><a href="https://bing.com"><i class="bing"></i></a></li>

        </ul>
      </nav>
    </header>

    <!-- SECTION -->

    <section class="grid-item section">
      section
    </section>

    <!-- ASIDE - WEATHER -->

    <aside class="grid-item weather">
      <h1 class="local"></h1>
      <div class="submitCityName">
        <input type="text" class="notification" placeholder="e.g. Toronto,CA">
        <i class="fa fa-search"></i>
        <i class="fas fa-circle-notch fa-spin"></i>
        <i class="onlyspinborder"></i>
      </div>
      <div class="todayIcon">
        <img src="/assets/weather-icons/unknown.svg"
         alt="todayicon" height="100px">
      </div>
      <div class="todayTemperature">
        <p><span></span>°C</p>
        <h3> <span></span>% humidity</h3>
      </div>
      <div class="nextDays">
        <!-- Here is inserted divs created with data of next days   -->
      </div>
    </aside>

  <!-- FOOTER -->

    <footer class="grid-item footer">
      <div class="time">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <div class="date">
          mounth, day, year
        </div>
        <div class="clock">
          00:00:00 AM
        </div>
      </div>
    </footer>

  </div>

  <script type="text/javascript" src="/scripts/dateclock.js"></script>
  <script type="module" src="/scripts/weather.js"></script> 
</body>

</html>