<aside class="grid-item weather freezeWithAlert">
  <h1 class="local"></h1>
  <div class="submitCityName">
    <input type="text" class="inputCityName" placeholder="e.g. Toronto,CA" maxlength="30">
    <i class="fa fa-search"></i>
  </div>
  <div class="todayIcon">
    <img src="/assets/weather-icons/unknown.svg" alt="todayicon" height="100px">
  </div>
  <div class="todayTemperature">
    <p><span></span>°C</p>
    <h3> <span></span>% humidity</h3>
  </div>
  <div class="nextDays">
  </div>
</aside>