<footer class="grid-item footer freezeWithAlert">
  <div class="changeBackground">
    <div class="backgTitle">
      <h3 class="phrase">Change background image</h3>
    </div>
    <div class="backgButtons">
      <span class="manually">manually</span>

      <div class="daily">
        <label for="daily" class="switch">
          <p>Daily</p>
          <input type="checkbox" id="daily">
          <span class="slider"></span>
        </label>
      </div>

      <div class="weekly">
        <label for="weekly" class="switch">
          <p>Weekly</p>
          <input type="checkbox" id="weekly">
          <span class="slider"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="time">
    <div class="date">
      mounth, day, year
    </div>
    <div class="clock">
      00:00:00 AM
    </div>
  </div>
  <div class="aboutMe">
    <div class="gabrielpenteado">
      <h1>Gabriel Penteado</h1>
    </div>
    <div class="mycontacts">
      <div class="contactButton">
        <a href="https://www.linkedin.com/in/gabriel-penteado" target="_blank">
          <div class="iconcontact"><i class="fab fa-linkedin-in linkedinFooter"></i></div>
          <span>LinkedIn</span>
        </a>
      </div>
      <div class="contactButton">
        <a href="https://github.com/gabrielpenteado" target="_blank">
          <div class="iconcontact"><i class="fab fa-github githubFooter"></i></div>
          <span>Github</span>
        </a>
      </div>
      <div class="contactButton">
        <a href="mailto:gabripenteado@gmail.com">
          <div class="iconcontact"><i class="far fa-envelope emailFooter"></i></div>
          <span>gabripenteado@gmail.com</span>
        </a>
      </div>
    </div>

  </div>
</footer>