<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg" href="/assets/favicon/homepage.svg" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link rel="preload" href="/assets/background/background1.jpg" as="image">
  <link rel="preload" href="/assets/background/background2.jpg" as="image">
  <link rel="preload" href="/assets/background/background3.jpg" as="image">
  <link rel="preload" href="/assets/background/background4.jpg" as="image">
  <link rel="preload" href="/assets/background/background5.jpg" as="image">
  <link rel="preload" href="/assets/background/background6.jpg" as="image">
  <link rel="preload" href="/assets/background/background7.jpg" as="image">
  <link rel="preload" href="/assets/background/background8.jpg" as="image">
  <link rel="preload" href="/assets/background/background9.jpg" as="image">
  <link rel="preload" href="/assets/background/background10.jpg" as="image">
  <link rel="preload" href="/assets/background/background11.jpg" as="image">
  <link rel="stylesheet" href="/styles/home.css">
  <link rel="stylesheet" href="/styles/icons.css">
  <link rel="stylesheet" href="/styles/weather.css">
  <link rel="stylesheet" href="/styles/to-do-list.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/alertPopUp.css">
  <title>MyDearPage</title>

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MXBCNGZ');</script>
  <!-- End Google Tag Manager -->
</head>