<section class="grid-item to-do freezeWithAlert">
  <ul class="list">
  </ul>

  <div class="addItem">
    <i class="fas fa-plus-circle" title="add to-do"></i>
    <div class="colorPallet" title="to-do color">
      <i class="far fa-square transparent"></i>
      <div class="todoColors">
        <i class="fas fa-square colors color1 animation1" id="1"></i>
        <i class="fas fa-square colors color2 animation2" id="2"></i>
        <i class="fas fa-square colors color3 animation3" id="3"></i>
        <i class="fas fa-square colors color4 animation4" id="4"></i>
      </div>
    </div>
    <input type="text" class="inputToDo" placeholder="Write your to-do here." maxlength="120">
    <i class="fas fa-sync-alt" title="delete all"></i>
  </div>
</section>