.footer {
 display: flex;
 justify-content: center;
}

.time {
  text-align: center;
  align-self: center;
  position: relative;
}

.time:hover {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.date {
  font-size: 20px;
}

.clock {
  font-size: 50px;
}

/* .time span {
  position: relative;
  display: block;
  transition: 0.5s ease;
}

.time span:nth-child(1) {
  background:#ffffff;
  left: 0;
  top: 0;
  height: 1px;
  width: 0;
}

.time:hover span:nth-child(1) {
  width: 100%;
  transform: translateX(100%);
} */