/* 1920 x 1080 */
.weather {
  display: grid;
  grid-template-areas:
  'localization localization'
  'submitcityname submitcityname'
  'todayIcon todayTemperature'
  'nextDays nextDays';

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.7fr 3fr 3fr;
}

.local { 
  grid-area: localization;
  position: relative;
  justify-self: center;
  align-self: center;
  font-size: 37px;
}  

.submitCityName {
  grid-area: submitcityname;
  position: relative;
  align-self: center;
  justify-self: center;
}

.submitCityName .fa-search {
  position: relative;
  font-size: 22px;
  right: 30px;
  top: 3.5px;
  border-left: 1px solid #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.fa-spin {
  position: relative;
  visibility: hidden;
  font-size: 21px;
  right: 75px;
  top: 2.5px;
  padding-left: 10px;
  padding-right: 10px;
}

.onlyspinborder  {
  position: relative;
  border-left: 1px solid #ffffff;
  right: 59px;
  top: 0.7px;
  font-size: 18px;
  display: none;
}

input::placeholder {
  color: #ffffff;
  font-size: 16px ;
  opacity: 0.5;
}

.notification {
  position: relative;
  background: transparent;
  color: #ffffff;
  padding: 15px;
  font-size: 16px;
  width: 300px;
  height: 35px;
  border-radius: 8px;
  outline: none;
  backdrop-filter: blur(10px);
  left: 22px;
}

.todayIcon {
  grid-area: todayIcon;
  display: grid;
  align-items: center;
}

.todayIcon img {
  width: 200px;
  justify-self: end;
  margin-left: 45px;
}

.todayTemperature {
  grid-area: todayTemperature;
  display: grid;
  padding-right: 70px;
}

.todayTemperature .today {
  font-size: 20px;
}

.todayTemperature p {
  font-size: 47px;
  align-self: end;
  justify-self: center;
  row-gap: 10px;
}

.todayTemperature h3 {
  align-self: start;
  justify-self: center;
  font-size: 17px;
  margin-left: 5px;
}

.nextDays {
  grid-area: nextDays;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
}

.nextDays .dayOfWeek {
  display: flex;
  justify-content: center;
}

.nextDays .maxmin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nextDays .fa-arrows-alt-v {
  font-size: 16px;
  transform: scale(1, 2);
  
}
 
.nextDays .maxmin p {
  padding: 2px;
  padding-left: 8px;
}

.alertPopUp {
  display: none;
  position: absolute;
  width: 600px;
  height: 300px;
  background-color: #f1f1f1;
  z-index: 9999;
  /* padding: 10px; */
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  align-self: center;
  overflow: hidden;
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  text-align: center;
}

.alertPopUp i {
  color: #d10e00;
  font-size: 80px;
  margin-top: 20px;
}

.alertPopUp h1 {
  color: #000000;
  font-size: 24px;
}

.alertPopUp h2 {
  color: #000000;
  font-size: 22px;
}

.alertPopUp a {
  font-size: 22px;
  cursor: pointer;
  padding: 10px 30px;
  background-color:#003fdd;
  color: #ffffff;
  align-self: flex-end;
  border-top-left-radius: 8px;
}












