@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #ffffff;
  font-size: 20px;
}

/* GRID CONTAINER */

.container {
  display: grid;
  position: relative;
  gap: 5px;
  height: 100vh;
  width: 100vw;
  grid-template-areas: 
  'header header header header'
  'main main main aside'
  'main main main aside'
  'footer footer footer footer';
  
  grid-template-columns: 1fr 1fr 1fr 1.3fr;
  grid-template-rows: 1.3fr 1.5fr 1.5fr 1.2fr;
}

/* GRID ITEMS */

.grid-item {
  background: url(../assets/background/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* HEADER */

header {
  position: relative;
  grid-area: header;
  
}

/* SECTION */

section {
  position: relative;
  grid-area: main;
  
}

/* ASIDE */

aside {
  position: relative;
  grid-area: aside;
  
}

/* FOOTER */

footer {
  position: relative;
  grid-area: footer;
  
}
