
/* 1920 x 1080 */
.weather {
  display: grid;
  grid-template-areas:
  'localization localization'
  'submitcityname submitcityname'
  'todayIcon todayTemperature'
  'nextDays nextDays';

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.7fr 3fr 3fr;
}

.local { 
  grid-area: localization;
  position: absolute;
  justify-self: center;
  align-self: center;
  font-size: 40px;
}  

.submitCityName {
  grid-area: submitcityname;
  position: absolute;
  justify-self: center;
  align-self: center;
}

.notification {
 font-size: 20px;
 width: 290px;
 height: 25px;
}

.submitButton {
  font-size: 16px;
  padding: 3px;
  padding-right: 6px;
  border-radius: 8px;
  background-color: rgb(0, 128, 0);
  color: white;
}

.todayIcon {
  grid-area: todayIcon;
  display: grid;
  align-items: center;
}

.todayIcon img {
  width: 200px;
  justify-self: end;
  margin-left: 45px;
}

.todayTemperature {
  grid-area: todayTemperature;
  display: grid;
  padding-right: 70px;
}

.todayTemperature p {
  font-size: 47px;
  align-self: end;
  justify-self: center;
  row-gap: 10px;
}

.todayTemperature h3 {
  align-self: start;
  justify-self: center;
  font-size: 17px;
  margin-left: 5px;
}

.nextDays {
  grid-area: nextDays;
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
  min-width: 20px;
  /* justify-content: flex-start;
  margin-left: 30px;
  padding: 8px; */
  justify-content: space-evenly;
}

.nextDays p {
  padding-left: 6px;
}

.nextDays .min span {
  padding-left: 3px;
}








